<section class="first-section">
        <h2 class="subtitle">A quoi ça sert ?</h2>
        <div class="first-section-text-part">
            <div class="side-line"></div>
            <div class="first-section-text-container">
                <p class="paragraph">Lorem ipsum dolor sit amet, <span class="salmon-bold"><strong>consectetur</strong></span> 
                    adipiscing elit. Libero leo ut enim tellus tincidunt tincidunt viverra fermentum. 
                    Sit laoreet massa viverra integer viverra sit lacinia. Facilisis odio quam purus sed donec 
                    vitae lorem ultrices fusce. Dui proin <span class="salmon-bold"><strong>consequat parturient</strong></span> purus. Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit.
                </p>

                <p class="paragraph"><span class="salmon-bold"><strong>Lorem ipsum</strong></span> dolor sit amet, 
                    consectetur adipiscing elit. Libero leo ut enim tellus tincidunt tincidunt viverra fermentum. 
                    Sit laoreet massa viverra integer viverra sit lacinia. 
                    <span class="salmon-bold"><strong>Facilisis</strong></span> odio quam purus sed donec vitae 
                    <span class="salmon-bold"><strong>lorem ultrices fusce.</strong></span> Dui proin consequat 
                    parturient purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div> 
        </div>
    </section>

    <section>
        <div class="cards-container">
            <div class="card">
                <img src="../../assets/images/photos/honey.jpg" alt="honey">
                <h3>Mutualisez vos dépenses</h3>
                <div class="horizontale-line"></div>
                <h4>Lorem ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada nibh 
                    quam nunc venenatis cursus integer amet.
                </p>
            </div>

            <div class="card">
                <img src="../../assets/images/photos/cake.jpg" alt="cake">
                <h3>Mutualisez vos dépenses</h3>
                <div class="horizontale-line"></div>
                <h4>Lorem ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada nibh 
                    quam nunc venenatis cursus integer amet.
                </p>
            </div>

            <div class="card">
                <img src="../../assets/images/photos/pizza.jpg" alt="pizza">
                <h3>Mutualisez vos dépenses</h3>
                <div class="horizontale-line"></div>
                <h4>Lorem ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada nibh 
                    quam nunc venenatis cursus integer amet.
                </p>
            </div>
        </div>
    </section>
    <div class="margin"></div>
    <section>
        <h2 class="subtitle">Comment ça marche ?</h2>
        <div class="margin"></div>
        <div class="third-section-main-wrapper">
            <div class="salmon-background-container">
                <div class="third-section-text-part">
                    <div class="third-section-text-section">
                        <h3>Lorem ipsum</h3>
                        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Malesuada <span class="grey-bold"><strong>nibh quam nunc</strong></span> venenatis cursus integer amet.
                        </p>
    
                        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing 
                            <span class="grey-bold"><strong>elit.</strong></span>
                            Malesuada nibh quam nunc venenatis cursus integer amet.
                        </p>
                    </div>
                </div>          
            </div>
            <img class="third-section-picture" src="../../assets/images/photos/man-looking-his-phone.png" alt="man-looking-his-phone">
        </div>
    </section>

    <section class="advantages-section">
        <div class="advantages-pictures-container">
            <img src="../../assets/images/photos/couple-cooking.jpg" alt="couple cooking">
            <img src="../../assets/images/photos/people-cooking.jpg" alt="people cooking">
        </div>

        <div class="advantages-text-container">
            <h2 class="subtitle">Les avantages</h2>
            <div class="advantages-texts-content-container">
                <div class="advantages-text-row">
                    <img src="../../assets/images/icons/running-rabbit-icon.png" alt="running-rabbit-icon">
                    <div class="advantages-row-text-container">
                        <h3>Lorem ipsum</h3>
                        <p class="paragraph">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada nibh 
                            quam nunc venenatis cursus integer amet.
                        </p>
                    </div>
                </div>

                <div class="advantages-text-row">
                    <img src="../../assets/images/icons/security-lock-icon.png" alt="security-lock-icon">
                    <div class="advantages-row-text-container">
                        <h3>Lorem ipsum</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada nibh 
                            quam nunc venenatis cursus integer amet.
                        </p>
                    </div>
                </div>

                <div class="advantages-text-row">
                    <img src="../../assets/images/icons/thumbs-up-icon.png" alt="thumbs-up-icon">
                    <div class="advantages-row-text-container">
                        <h3>Lorem ipsum</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada nibh 
                            quam nunc venenatis cursus integer amet.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
