
<section class="affich">
    <h2 class="titre">Liste des recettes</h2>
    
    <app-recipepage [products]="recipes" [type]="recipe" (delete)="onDeleteRecipe($event)"></app-recipepage>
    <app-formulaire-recipe (finish)="onSaveRecipe($event)"></app-formulaire-recipe>
    <div class="spacer"></div>
    </section>
    
    <section class="affich">
    <h2 class="titre">Liste des groupes</h2>
    
    <app-groupepage [teams]="groupes" [type]="groupe" (delete)="onDeleteGroupe($event)"></app-groupepage>
    <app-formulaire-groupe (finish)="onSaveGroupe($event)"></app-formulaire-groupe>
    <div class="spacer"></div>
    </section>
    