<div class="main-banner-container">
  <img class ="main-banner-picture" src="../../assets/images/photos/homepage-banner.png" alt="main-banner-woman-sitting-in-front-of-lake">
  <nav class="header-nav-bar">
    <a
      ><img class="logo" src="ressources/images/logo/logo.png" alt="budjet-logo"
    /></a>
  
    <ul class="header-nav-bar-links-list">
      <li><a class="underline-link" routerLink="/homepage">Accueil</a></li>
      <li><a class="underline-link" href="#">A propos</a></li>
      <li>
        <a class="header-cta-link">Se connecter</a>
      </li>
  
      <li>
        <a class="header-cta-link">S'enregistrer</a>
      </li>
    </ul>
  </nav>

  <div class="banner-text-container">
      <h2>Lorem ipsum</h2>
      <h1 class="main-title">Lorem Ipsum</h1>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Malesuada nibh quam nunc venenatis cursus integer amet.
      </p>
      <a class="main-banner-cta-button"href="#">Je me lance</a>
  </div>
</div>




