<div class="main-banner-container">
  <img class ="main-banner-picture" src="../../assets/images/photos/homepage-banner.png" alt="main-banner-woman-sitting-in-front-of-lake">
  <nav class="header-nav-bar">
    <a
      ><img class="logo" src="ressources/images/logo/logo.png" alt="budjet-logo"
    /></a>
  
    <ul class="header-nav-bar-links-list">
      <li><a href="#">Accueil</a></li>
      <li><a href="#">A propos</a></li>
      <li class="blue-button">
        <a class="login-signup-link" 
          >Se connecter
          <span class="profile-icon-container">
            <img src="../../assets/images/icons/login-icon.png" alt="login-icon" />
          </span>
        </a>
      </li>
  
      <li class="blue-button">
        <a
          >S'enregistrer
          <span class="profile-icon-container">
            <img
              src="../../assets/images/icons/signup-icon.png"
              alt="sign-up-icon"
            />
          </span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="banner-text-container">
      <h2>Lorem ipsum</h2>
      <h1 class="main-title">Lorem Ipsum</h1>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Malesuada nibh quam nunc venenatis cursus integer amet.
      </p>
      <a class="main-banner-cta-button"href="#">Je me lance</a>
  </div>
</div>




