@font-face {
    font-family: "Inter Extra Light";
    src: url("../fonts/Inter/Inter-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "Inter regular";
    src: url("../fonts/Inter/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Bold";
    src: url("../fonts/Inter/Inter-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto light";
    src: url("../fonts/roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto thin";
    src: url("../fonts/roboto/Roboto-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-LightItalic";
    src: url("../fonts/roboto/Roboto-LightItalic.ttf") format("truetype");
}